In [23]:
# import pandas
!pip install pandas
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

Requirement already satisfied: pandas in ./opt/anaconda3/lib/python3.9/site-packages (1.4.2)
Requirement already satisfied: python-dateutil>=2.8.1 in ./opt/anaconda3/lib/python3.9/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in ./opt/anaconda3/lib/python3.9/site-packages (from pandas) (2021.3)
Requirement already satisfied: numpy>=1.18.5 in ./opt/anaconda3/lib/python3.9/site-packages (from pandas) (1.21.5)
Requirement already satisfied: six>=1.5 in ./opt/anaconda3/lib/python3.9/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [24]:
# create your data variabe using .read_csv 
data = pd.read_csv('/Users/allisoncannady/Documents/IMDB-Movie-Data .csv')

In [30]:
#data_indexed = pd.read_csv('/Users/allisoncannady/Documents/IMDB-Movie-Data .csv', index_col="Title")
#print(data_indexed)

KeyError: 'Title'

In [31]:
#get basic info about data
data.info()
#data.shape function tells us the number of columns and rows in the dataset. order is (rows, columns)

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 1001 entries, ('Rank', 'Title', 'Genre', 'Description', 'Director', 'Actors', 'Year', 'Runtime (Minutes)', 'Rating', 'Votes', 'Revenue (Millions)') to ('1000', 'Nine Lives', 'Comedy,Family,Fantasy', "A stuffy businessman finds himself trapped inside the body of his family's cat.", 'Barry Sonnenfeld', 'Kevin Spacey, Jennifer Garner, Robbie Amell,Cheryl Hines', '2016', '87', '5.3', '12435', '19.64')
Data columns (total 1 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   IMDB-Movie-Data  937 non-null    object
dtypes: object(1)
memory usage: 302.3+ KB

In [33]:
#preview first 5 rows
data.head()

                                                                                                                                                                                                                                         IMDB-Movie-Data
Rank Title                   Genre                    Description                                        Director             Actors                                             Year Runtime (Minutes) Rating Votes  Revenue (Millions)       Metascore
1    Guardians of the Galaxy Action,Adventure,Sci-Fi  A group of intergalactic criminals are forced t... James Gunn           Chris Pratt, Vin Diesel, Bradley Cooper, Zoe Sa... 2014 121               8.1    757074 333.13                          76
2    Prometheus              Adventure,Mystery,Sci-Fi Following clues to the origin of mankind, a tea... Ridley Scott         Noomi Rapace, Logan Marshall-Green, Michael Fas... 2012 124               7      485820 126.46                          65
3    Split                   Horror,Thriller          Three girls are kidnapped by a man with a diagn... M. Night Shyamalan   James McAvoy, Anya Taylor-Joy, Haley Lu Richard... 2016 117               7.3    157606 138.12                          62
4    Sing                    Animation,Comedy,Family  In a city of humanoid animals, a hustling theat... Christophe Lourdelet Matthew McConaughey,Reese Witherspoon, Seth Mac... 2016 108               7.2    60545  270.32                          59

In [34]:
#Preview last 5 rows
data.tail()

                                                                                                                                                                                                  IMDB-Movie-Data
996  Secret in Their Eyes   Crime,Drama,Mystery   A tight-knit team of rising investigators, alon... Billy Ray        Chiwetel Ejiofor, Nicole Kidman, Julia Roberts,... 2015 111 6.2 27585 NaN                45
997  Hostel: Part II        Horror                Three American college students studying abroad... Eli Roth         Lauren German, Heather Matarazzo, Bijou Phillip... 2007 94  5.5 73152 17.54              46
998  Step Up 2: The Streets Drama,Music,Romance   Romantic sparks occur between two dance student... Jon M. Chu       Robert Hoffman, Briana Evigan, Cassie Ventura, ... 2008 98  6.2 70699 58.01              50
999  Search Party           Adventure,Comedy      A pair of friends embark on a mission to reunit... Scot Armstrong   Adam Pally, T.J. Miller, Thomas Middleditch,Sha... 2014 93  5.6 4881  NaN                22
1000 Nine Lives             Comedy,Family,Fantasy A stuffy businessman finds himself trapped insi... Barry Sonnenfeld Kevin Spacey, Jennifer Garner, Robbie Amell,Che... 2016 87  5.3 12435 19.64              11

In [36]:
#View column names
data.columns
#the columns function is supposed to proivide the names of all the columns in the dataset.

Index(['IMDB-Movie-Data'], dtype='object')

In [38]:
data.describe
#the describe func tells all the statistical data

<bound method NDFrame.describe of                                                                                                                                                                                                                                          IMDB-Movie-Data
Rank Title                   Genre                    Description                                        Director             Actors                                             Year Runtime (Minutes) Rating Votes  Revenue (Millions)       Metascore
1    Guardians of the Galaxy Action,Adventure,Sci-Fi  A group of intergalactic criminals are forced t... James Gunn           Chris Pratt, Vin Diesel, Bradley Cooper, Zoe Sa... 2014 121               8.1    757074 333.13                          76
2    Prometheus              Adventure,Mystery,Sci-Fi Following clues to the origin of mankind, a tea... Ridley Scott         Noomi Rapace, Logan Marshall-Green, Michael Fas... 2012 124               7      485820 126.46                          65
3    Split                   Horror,Thriller          Three girls are kidnapped by a man with a diagn... M. Night Shyamalan   James McAvoy, Anya Taylor-Joy, Haley Lu Richard... 2016 117               7.3    157606 138.12                          62
4    Sing                    Animation,Comedy,Family  In a city of humanoid animals, a hustling theat... Christophe Lourdelet Matthew McConaughey,Reese Witherspoon, Seth Mac... 2016 108               7.2    60545  270.32                          59
...                                                                                                                                                                                                                                                  ...
996  Secret in Their Eyes    Crime,Drama,Mystery      A tight-knit team of rising investigators, alon... Billy Ray            Chiwetel Ejiofor, Nicole Kidman, Julia Roberts,... 2015 111               6.2    27585  NaN                             45
997  Hostel: Part II         Horror                   Three American college students studying abroad... Eli Roth             Lauren German, Heather Matarazzo, Bijou Phillip... 2007 94                5.5    73152  17.54                           46
998  Step Up 2: The Streets  Drama,Music,Romance      Romantic sparks occur between two dance student... Jon M. Chu           Robert Hoffman, Briana Evigan, Cassie Ventura, ... 2008 98                6.2    70699  58.01                           50
999  Search Party            Adventure,Comedy         A pair of friends embark on a mission to reunit... Scot Armstrong       Adam Pally, T.J. Miller, Thomas Middleditch,Sha... 2014 93                5.6    4881   NaN                             22
1000 Nine Lives              Comedy,Family,Fantasy    A stuffy businessman finds himself trapped insi... Barry Sonnenfeld     Kevin Spacey, Jennifer Garner, Robbie Amell,Che... 2016 87                5.3    12435  19.64                           11

[1001 rows x 1 columns]>

In [39]:
# check null values
data.isnull().sum()

IMDB-Movie-Data    64
dtype: int64

In [41]:
# Extract data as series
#genre = data['Genre']
#print(genre)
#Key Error... wont print

In [45]:
# Extract data as dataframe
#data[['Genre']]
#print()
#Key Error....wont print

In [47]:
#Extract multiple columns
#some_cols = data[['Title','Genre','Actors','Director','Rating']]
#some_cols.head()
#KeyError... wont print

In [49]:
#Extract data by row index title
#data_indexed.loc['Suicide Squad']
#KeyError....wont print

In [50]:
#data_indexed.loc[['Suicide Squad']][['Genre','Actors','Director','Rating','Revenue (Millions)']]

In [51]:
#Extract data with row indices 10-49
data.iloc[10:15]

                                                                                                                                                                                                                      IMDB-Movie-Data
10 Passengers                              Adventure,Drama,Romance    A spacecraft traveling to a distant colony plan... Morten Tyldum  Jennifer Lawrence, Chris Pratt, Michael Sheen,L... 2016 116 7   192177 100.01              41
11 Fantastic Beasts and Where to Find Them Adventure,Family,Fantasy   The adventures of writer Newt Scamander in New ... David Yates    Eddie Redmayne, Katherine Waterston, Alison Sud... 2016 133 7.5 232072 234.02              66
12 Hidden Figures                          Biography,Drama,History    The story of a team of female African-American ... Theodore Melfi Taraji P. Henson, Octavia Spencer, Janelle Moná... 2016 127 7.8 93103  169.27              74
13 Rogue One                               Action,Adventure,Sci-Fi    The Rebel Alliance makes a risky move to steal ... Gareth Edwards Felicity Jones, Diego Luna, Alan Tudyk, Donnie Yen 2016 133 7.9 323118 532.17              65
14 Moana                                   Animation,Adventure,Comedy In Ancient Polynesia, when a terrible curse inc... Ron Clements   Auli'i Cravalho, Dwayne Johnson, Rachel House, ... 2016 107 7.7 118151 248.75              81

In [53]:
#data.iloc[10:15][['Title','Rating','Revenue (Millions)']]
#KeyError....wont print

In [55]:
#View Title, actor, director for moveis with min rating
#rating_min = np.where(data['Rating'] == min(data['Rating']))
#data.iloc[rating_min][['Title','Actors','Director','Year','Rating']]

In [57]:
# Use the code block to select movies that have been release between 2010-2016, with a rating of less than 6.0, but
#data[((data['Year'] >= 2010) & (data['Year'] <= 2016))
      #& (data['Rating'] < 6.0)
      #& (data['Revenue (Millions)'] > data['Revenue (Millions)'].quantile(0.95))]

In [59]:
# Get unique values in rating column
#data['Director'].unique()
#KeyError...

In [61]:
#View number of movies by Director
#data['Director'].value_counts()